<form class="addToCart-form" action="/cart" method="post">
    
    <input class="quantity" id="quantity" type="number" name='quantity' min="1" step='1' value='1'>
    
    <button class="btn" type="submit"><i class="fas fa-cart-plus"></i></button>

    <input type="hidden" name='_csrf' value="<%= csrfToken %>">
    <input type="hidden" name="productId" value="<%= product._id %>">
</form>