<div class="slideshow_container container">
    <div class="slideshow_wrapper">
        <div class="slideshow">
            <div class="slide_one slide centered">
                <img class="slide_img" src="https://s3.us-east-2.amazonaws.com/yummba.in/productimages/blueberry_white.png">
            </div>

            <div class="slide_two slide centered">
                <img class="slide_img" src="https://s3.us-east-2.amazonaws.com/yummba.in/productimages/cocoa_white.png">
            </div>

            <div class="slide_three slide centered">
                <img class="slide_img" src="https://s3.us-east-2.amazonaws.com/yummba.in/productimages/cinnamon_white.png">
            </div>
            <div class="slide_four slide centered">
                <img class="slide_img" src="https://s3.us-east-2.amazonaws.com/yummba.in/productimages/coffee_white.png">
            </div>
            <div class="slide_five slide centered">
                <img class="slide_img" src="https://s3.us-east-2.amazonaws.com/yummba.in/productimages/oatmeal_white.png">
            </div>
            <div class="slide_three slide centered">
                <img class="slide_img" src="https://s3.us-east-2.amazonaws.com/yummba.in/productimages/peanut_white.png">
            </div>
            <div class="slide_four slide centered">
            <div class="slide_one slide centered">
                <img class="slide_img" src="https://s3.us-east-2.amazonaws.com/yummba.in/productimages/blueberry_white.png">
            </div>
        </div>
    </div>
</div>
</div>