<div class="slideshow_container container">
    <div class="slideshow_wrapper">
        <div class="slideshow">
            <div class="slide_one slide">
                <img class="slide_img" src="/images/webpage_images/Blueberry3.jpg">
            </div>

            <div class="slide_two slide">
                <img class="slide_img" src="/images/webpage_images/Blueberry3.jpg">
            </div>

            <div class="slide_three slide">
                <img class="slide_img" src="/images/webpage_images/Blueberry3.jpg">
            </div>
            <div class="slide_four slide">
                <img class="slide_img" src="/images/webpage_images/Blueberry3.jpg">
            </div>
            <div class="slide_five slide">
                <img class="slide_img" src="/images/webpage_images/Blueberry3.jpg">
            </div>
        </div>
    </div>
</div>
</div>