<div class="slideshow_container container">
    <div class="slideshow_wrapper">
        <div class="slideshow">
            <div class="slide_one slide centered">
                <img class="slide_img" src="https://s3.us-east-2.amazonaws.com/yummba.in/Cinn+Raisin+2.jpg">
            </div>

            <div class="slide_two slide centered">
                <img class="slide_img" src="https://s3.us-east-2.amazonaws.com/yummba.in/Coffee.jpg">
            </div>

            <div class="slide_three slide centered">
                <img class="slide_img" src="https://s3.us-east-2.amazonaws.com/yummba.in/Oatmeal+Raisin2.jpg">
            </div>
            <div class="slide_four slide centered">
                <img class="slide_img" src="https://s3.us-east-2.amazonaws.com/yummba.in/Cinn+Raisin+2.jpg">
            </div>
            <div class="slide_five slide centered">
                <img class="slide_img" src="https://s3.us-east-2.amazonaws.com/yummba.in/Coffee.jpg">
            </div>
            <div class="slide_three slide centered">
                <img class="slide_img" src="https://s3.us-east-2.amazonaws.com/yummba.in/Oatmeal+Raisin2.jpg">
            </div>
            <div class="slide_four slide centered">
            <div class="slide_one slide centered">
                <img class="slide_img" src="https://s3.us-east-2.amazonaws.com/yummba.in/Cinn+Raisin+2.jpg">
            </div>
        </div>
    </div>
</div>
</div>