body {
    padding: 0;
    margin: 0;
    background-color: #9ee8de;
    font-size: 1.5rem;
    font-family: 'Roboto Slab', serif;
    background-size: auto 100%;
    background-repeat: no-repeat;
}

main {
    padding: 1rem;
    margin: auto;
}

h1{
    margin:3rem;
    text-align: center;
    color:white;
}