body {
  background-color: #9ee8de;
  color: white;
  font-weight: bold;
  font-size: large;
}

#signup-container {
  margin-bottom: 5rem;
  margin-top: 2rem;
  width: 100%;
}

#login-container {
  margin-bottom: 2rem;
  margin-top: 2rem;
  width: 100%;
}

#login-container-reset{
  margin-top: 2rem;
}

#signup-text {
  font-weight: bold;
  margin-top: 5rem;
  text-align: center;
  padding:2rem;
  padding-top: 1rem;
  margin-bottom: 5rem;
  letter-spacing: 1px;
  font-size: 3rem;
  font-family: 'Roboto Slab', serif;
}

.signup-form-container {
  margin: auto;
  display: flex;
  padding:0;
}

.login-form {
  width: 100%;
  display: block;
  border: 5px solid white;
  border-radius: 25px;
  color: white;
  padding: 2rem;
  background-color: #ffc9b5
;
}

.login-form .btn {
  width: 7rem;
  display: block;
  margin-top: 3rem;
  color: white;
  background-color: #9ee8de;
  text-align: center;
  /* float: right;
  margin-right: 0.85rem; */
  border: none;
  border-radius: 25px;
  margin:auto;
  font-family: 'Bangers', cursive;
  letter-spacing: 1px;
  font-size: 1.7rem;
  font-weight: 100;
}

.login-form a{
  color:white;
  text-decoration: none;
}


.form-control {
  width: 100%;
  height: 6.5rem;
  display: block;
  background-color: #ffc9b5
;
  margin-bottom: 1rem;
  overflow: auto;
  border: none;
}

.form-control :focus {
  outline: none;
}

.form-control label {
  display: block;
  color: white;
  font-family: 'Bangers', cursive;
  letter-spacing: 1px;
  font-size: 1.7rem;
  
}

.form-control input {
  display: block;
  border-radius: 50px;
  padding: 3px;
  padding-left: 12px;
  font-family: 'Bangers', cursive;
  letter-spacing: 1px;
  font-size: 1rem;
  font-family: 'Roboto Slab', serif;

}

.roundedCorner
{
  
  
  box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
  -moz-box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
  -webkit-box-shadow: 10px -10px 10px  rgba(0,0,0,0.4);
  -o-box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
  border-radius:25px;
}


@media (min-width: 992px) {
  .container, .container-lg, .container-md, .container-sm {
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .container, .container-md, .container-sm {
    max-width: 100%;
  }
}

@media (min-width: 576px) {
  .container, .container-sm {
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 100%;
  }
  .signup-form-container {
    margin: auto;
  }
}