/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}


body {
  background-color: #9ee8de;
  font-size: 1.5rem;
  font-family: 'Roboto Slab', serif;
}

main {
  padding:0;
}

.container{
  margin:0;
}
.fullPageContainer {
  min-width: 100%;
}


.cart__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin: auto;
  width: 40rem;
  max-width: 90%;
  border: none;
  margin-top: 3rem;
}

.cart__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin-bottom: 1rem;
  background-color: white;
  border-radius: 25px;
  min-height: 3rem;
}

.cart__item-title {
  font-size: 0.7rem;
  margin: 0;
}

.cart__item-quantity {
  font-size: 0.7rem;
  margin: 0;
  text-align: right;
}

#deleteButton {
  transition: 0.5s;
  font-size: 0.7rem;
}

@media (min-width: 420px) {
  
  .cart__item-title {
    font-size: 1rem;
  }
  
  .cart__item-quantity {
    font-size: 1rem;
  }
  
  #deleteButton {
    font-size: 1rem;
  }
}

#reviewButton {
  border-radius: 25px;
  background-color: #82f75e;
  color: white;
  border: 2px white solid;
  margin:auto;
  margin-top:1rem;
  padding:1rem
}

#reviewButton:hover {
  background-color: #63ff26;
  transition: 0.5s;
}

#reviewButton:focus {
  background-color: #63ff26;
  transition: 0.5s;
  outline:none;
}

#buyButton {
  border-radius: 25px;
  background-color: #82f75e;
  color: white;
  border: 2px white solid;
}

#buyButton:hover {
  background-color: #63ff26;
  transition: 0.5s;
}

#total {
  color: white;
  text-align: center;
  margin: 2rem;
}


#submitAddressContainer{
  margin:1rem;
  background-color: #ffc9b5;
  border-radius: 25px;
  border:5px solid white;
  padding-bottom: 2rem;
}


#addressRow{
  margin-top:2rem;
  font-size: 1rem;
}

#addressRow .col{
  margin:0 5rem;
}

#addressRow input{
  display: block;
  margin:auto;
  margin-top: 1rem;
  border-radius: 10px;
  text-align: left;
  padding-left:1rem;
}

#addressRow input:focus{
  outline:none;
}

#mobileRow{
  margin-top:2rem;
  font-size: 1rem;
}

#mobileRow .col{
  margin:0 5rem;
}

#mobileRow input{
  display: block;
  margin:auto;
  margin-top: 1rem;
  border-radius: 10px;
  text-align: left;
  padding-left:1rem;

}

#mobileRow input:focus{
  outline:none;
}

-webkit-inner-spin-button, -webkit-outer-spin-button {
  -webkit-appearance: none;
   margin: 0;
}