body {
    font-family: 'Roboto Slab', serif;
}

#productTitle {
    font-weight: bolder;
}

.productImage img{
    border-radius: 50%;
    border:2px white solid;
    height: 400px;
}

#description {
    margin-top: 2rem;
    text-align: left;
}

#price {
    text-align: left;
}