<%- include('../includes/head.ejs') %>


</head>

<body>

 

    <main>
        <div class="blogPageContainer">          
            <p><%=  content %></p>

            
        </div>
    </main>
    <%- include('../includes/end.ejs') %>