<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<link rel="stylesheet" href="/css/product.css">
<link rel="stylesheet" href="/css/index.css">

<link rel="stylesheet" href="/css/carousel.css">



</head>

<body>

      <!-- <div id="id01" class="w3-modal" style="display: block;">
        <div class="w3-modal-content" style="display: block;">
          <header class="w3-container w3-teal" style="display: block;"> 
            <span onclick="document.getElementById('id01').style.display='none'" 
            class="w3-button w3-display-topright" style="color:black;">&times;</span>
            <h2>We have stopped accepting orders due to COVID-19</h2>
          </header>
          <div class="w3-container">
            <p style="color:black;">Due to the COVID-19 Virus, we have decided to stop accepting all orders as this puts a risk to our team, our vendors' staff, the courier boys, the warehouse workers, and the customer. Customers can continue to browse the website, but will not be able to place orders until further notice. Let's fight this together. Stay indoors, stay safe.</p>

          </div>
          <footer class="w3-container w3-teal">

          </footer>
        </div>
      </div> -->

      <div id="id01" class="modal" style="display: block;">
        <div class="modal-content" style="display: block;">
          <header class="modal-header" style="display: block;"> 
            <span>We have stopped accepting orders due to COVID-19</span>
            <span onclick="document.getElementById('id01').style.display='none'" 
            class="modal-close" style="color:white;">&times;</span>            
          </header>
          <div class="modal-message">
            <p style="color:black;">Due to the COVID-19 Virus, we have decided to stop accepting all orders as this puts a risk to our team, our vendors' staff, the courier boys, the warehouse workers, and the customer. Customers can continue to browse the website, but will not be able to place orders until further notice. Let's fight this together. Stay indoors, stay safe.</p>

          </div>
          <footer class="modal-footer">
            <!-- <p>Modal Footer</p> -->
          </footer>
        </div>
      </div>

    <!--NAVIGATION WAS HERE-->

    <main>
        <div class="indexPageContainer">
            
            <div class="about container">
                <div class="row d-flex">
                    <%- include('../includes/navigation.ejs') %>
                </div>

                <div class="about-row row d-flex">
                    <div class="col">
                        <p class="about-banner">Yummy.Healthy.Honest</p>
                        <p class="about-text">Yummba was built with a purpose to provide individuals with an
                            alternative
                            to unhealthy & highly-processed snacks and help them take simple steps toward a healthy
                            lifestyle. Our passion lies in crafting nutritious snacks from whole-food ingredients
                            that
                            cater to everyone's taste buds without compromising on health. We hope you enjoy our
                            products as much as we did making them.
                        </p>
                    </div>
                </div>
            </div>

            <div class="carouselAndContact container">
                <div class="row carousel">
                    <%- include('../includes/carousel.ejs') %>
                </div>

                <!--CONTACT-->
                <div class="contact container row d-flex justify-content-center ">
                    <div class="col">
                        <p class="contact-banner flex-column">Connect with us</p>
                    </div>
                </div>
                <div class="contact contact-last-row container row d-flex justify-content-center">
                    <div class="contact-item-col flex-column col-sm-3">
                        <a class="contact-item" href="https://www.instagram.com/yummba.in/?igshid=hh2kxk7ndhgf"
                            target="_blank"><i class="fab fa-instagram"></i>&nbsp;@yummba.in</a>
                    </div>
                    <!-- <div class="flex-column col-sm-3">
                        <p class="contact-item"><i class="fab fa-facebook-square"></i>&nbsp;@yummba.in</p>
                    </div> -->
                    <div class="contact-item-col flex-column col-sm-3">
                        <p class="contact-item"><i class="fas fa-phone-alt"></i>&nbsp;+91 9324621020</p>
                    </div>

                    <div class="contact-item-col flex-column col-sm-3">
                        <a class="contact-item" href="hello@yummba.in" target="_blank"><i
                                class="far fa-envelope"></i>&nbsp;hello@yummba.in</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('../includes/end.ejs') %>